{
  "acls": [
    {
      "action": "accept",
      "src": [
        "autogroup:member"
      ],
      "dst": [
        "autogroup:internet:*"
      ]
    }
  ],
  "tagOwners": {
    "${tailscale_exit_node_tag}": [
      "autogroup:admin"
    ]
  },
  "autoApprovers": {
    "exitNode": [
      "${tailscale_exit_node_tag}"
    ]
  }
}